.navbar {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.932);
  color: white;
  position: fixed;
  z-index: 1;
}

.navbar ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  list-style-type: none;
}

.navbar ul > li,
.navbar ul > a {
  min-width: 4rem;
  min-height: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}
